html {
  font-size: 12px;
  font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Rubik Mono One',sans-serif;
}
#countries-judged {
  margin-bottom: 2rem;
  min-height: 2rem;
}
#countries-judged.empty {
    border: 1px dashed;
}
#countries-unjudged .country {
    background: hsl(341, 38%, 53%);
}
#spacer {
  width: 100%;
  height: 2rem;
}
.country {
    display: grid;
    background: #b82352;
    color: white;
    grid-template-columns: 3rem 2rem 1fr 2rem 1fr;
    grid-template-areas: "score flag name picture artist"
                         "score flag name title title";
    grid-gap: 0rem 0.5rem;
    padding: 0.2rem;
}
#judging .country {
    cursor: ns-resize;
}
.country a {
  color: white;
  text-decoration: none;
}
.country a:hover {
  text-decoration: underline;
}
.country .play {
  color: lightgreen;
}

.country > * {
    line-height: 2rem;
    vertical-align: middle;
}
.country ~ .country {
  margin-top: 0.5rem;
}

.country .picture img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.country .points {
  font-size: 2rem;
  text-align: right;
}
.country .flag-icon {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
}


body {
    margin: 0 2rem;
}

div#app {
    width: 100%;
}

.country .points {
    grid-area: score;
    justify-self: end;
    align-self: center;
}

.country .flag {
    grid-area: flag;
    align-self: center;
}

.country .name {
    grid-area: name;
    align-self: center;
}

.country .picture {
    grid-area: picture;
}

.country .artist {
    grid-area: artist;
}

.country .title {
    grid-area: title;
}
input#name {
    font-size: 1rem;
    padding: 1em;
}

#leaderboard ol {
    padding: 0;
    list-style: none;
}

@media screen and (min-width:720px) {
  .country {
    grid-template-columns: 3rem 2rem 1fr 2rem 1fr 1fr;
    grid-template-areas: "score flag name picture artist title";
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1240px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1490px) {
  html {
    font-size: 24px;
  }
}
